//メタボックス portfolioページの編集画面用
.istk-add-on-meta{
	display: flex;
	margin-top: 1em;
	margin-bottom: 1em;
	
	label{
		flex-basis: 6em;
		font-weight: bold;
		text-align: revert;
		margin-right: 1em;
	}
	input[type="text"]{
		width: 100%;
		box-sizing: border-box;
		max-width: 40em;
	}
}



//事例カテゴリ編集画面の追加画像
#istk_add_on_category_image_thumb img{
	display: block;
	max-width: 250px;
	height: auto;
	margin-bottom: 10px;
}

